audio {
  width: 100%;
}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

body {
  background-color: rgb(15, 14, 14);
}

input,
label {
  margin: 0.4rem 0;
}

.click-area {
  cursor: pointer;
}

.d-block {
  width: 20%;
}

.login {
  color: white;
  object-fit: cover;
}
.picture {
  padding: 50px;
}

.mainTitle {
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 32px;
  text-align: center;
  color: white;
  padding-top: 100px;
}

.subTitle {
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 17px;
  text-align: center;
  color: white;
  padding-bottom: 50px;
}

.recommendations {
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 17px;
  text-align: center;
  color: white;
}

.recentlyPlayed {
  font-family: Circular, Helvetica, Arial, sans-serif;
  padding-bottom: 50px;

  font-size: 17px;
  text-align: center;
  color: white;
}

.clickOnAlbum {
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 32px;
  text-align: center;
  color: white;
}

.clickOnAlbumOne {
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 32px;
  text-align: center;
  color: white;
  padding-top: 100px;
}

.welcome {
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
  padding-top: 100px;
}

.titleOfTrack {
  color: black;
}

.banner {
  padding: 75px;
}

img {
  object-fit: cover;
}
